// **************************************************
//  Variables
// **************************************************

// --------------------------------------------------
//  modifies bootstrap/bootswatch settings
// --------------------------------------------------
//  You can't use bootstrap variables here,
//  they are unknown yet.
//  But if you set them here, you will overwrite
//  the bootstrap defaults! in this way

// --------------------------------------------------
//  project settings
// --------------------------------------------------

$black-dark:    #222222;
$black-medium:  #333333;
$black-light:   #414141;
$gray-dark:     #747474;
$gray-medium:   #afafaf;
$gray-light:    #ededed;

$green:         #8cb80d;
$green-medium:  #e8f1ce;
$green-light:   #f7faef;

$blue-dark:     #1a3260;
$blue-medium:   #3e609f;

$green24:        #005046;
$green24-medium: #007a6b;

// --------------------------------------------------
//  overwrite bootstrap
// --------------------------------------------------

$primary: $green24-medium;
$secondary: $green24-medium;

$success: $green24-medium;

$text-color: $black-dark;

$link-color: $green24;
$link-hover-color: $green24-medium;
$link-hover-decoration: underline dotted;

$font-size-base: 1rem; //.875rem
$font-family-sans-serif: Arial, "Helvetica Neue", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-weight-base: 400;
$font-weight-normal: 400;


$h1-font-size: 1.875rem;
$h2-font-size: 1.875rem;
$h3-font-size: 1.5rem;
$h4-font-size: 1.5rem;
$headings-font-weight: 400;

$border-radius: 0;
$border-radius-sm: $border-radius;
$border-radius-lg: $border-radius;
$input-border-radius: $border-radius;

$dropdown-link-color: $black-dark;
$dropdown-link-hover-color: $green24;
$dropdown-link-hover-bg: white;

$pagination-color: white;
$pagination-bg: $green24;;
$pagination-border-width: 0;
$pagination-hover-color: white;
$pagination-hover-bg: $green24-medium;
$pagination-active-color: white;
$pagination-active-bg: $green24-medium;
$pagination-disabled-color: white;
$pagination-disabled-bg: $gray-medium;
