/*  buttons settings
 *  - for buttons and links that look like buttons
 */

// Extra large devices (large desktops)
// set the defaults for all responsive levels here
// no (xl) media query necessary (desktop first)

.btn-secondary {
  color: $green;
  &:hover,
  &:focus {
    color: $green;
  }
}

.viewer .btn-secondary {
  color: $gray-dark;
  background-color: transparent;
  &:hover,
  &:active,
  &:focus {
    color: $text-color;
    border-color: transparent;
    background-color: transparent;
  }
  &:hover {
    border-color: $gray-dark;
  }
  &:disabled {
    color: $gray-dark;
    background-color: transparent;
  }
}

.btn-secondary:not(:disabled):not(.disabled):active {
  color: $text-color;
  background-color: transparent;
  border-color: transparent;
}

// Large devices (desktops) and below: <= 1200px
@include media-breakpoint-down(lg) {
  // add/overwrite styles for responsive level lg and lower
}

// Medium devices (tablets) and below: <= 992px
@include media-breakpoint-down(md) {
  // add/overwrite styles for responsive level md and lower
}

// Small devices (landscape phones) and below: <= 768px
@include media-breakpoint-down(sm) {
  // add/overwrite styles for responsive level sm and lower
}

// Extra small devices (portrait phones): <= 576px
@include media-breakpoint-down(xs) {
  // add/overwrite styles for responsive level xs
}
