/*  navigation
 *  - all styles about menus
 */

// Extra large devices (large desktops)
// set the defaults for all responsive levels here
// no (xl) media query necessary (desktop first)

.mir-main-nav {
  background-color: $green-medium;
  .navbar {
    padding: 0;
    background-color: $green-medium;
    .nav-item {
      background-color: $green;
      border-left: 5px solid white;
      .nav-link {
        padding: 0.5rem 1rem;
        &:focus,
        &:hover {
          color: $white;
          background-color: $blue-dark;
        }
      }
    }
    #basket-list-item {
      .nav-link {
        color: $green;
        padding: 0.5rem 1rem;
        border-left: 5px solid white;
        &:focus,
        &:hover {
          color: $blue-dark;
        }
      }
    }
  }
}

// Large devices (desktops) and below: <= 1200px
@include media-breakpoint-down(lg) {
  // add/overwrite styles for responsive level lg and lower
}

// Medium devices (tablets) and below: <= 992px
@include media-breakpoint-down(md) {
  // add/overwrite styles for responsive level md and lower
}

// Small devices (landscape phones) and below: <= 768px
@include media-breakpoint-down(sm) {
  // add/overwrite styles for responsive level sm and lower
}

// Extra small devices (portrait phones): <= 576px
@include media-breakpoint-down(xs) {
  // add/overwrite styles for responsive level xs
}
